<!DOCTYPE html>
<html>

<head>
	<title>A beats</title>
</head>

<body>
	<h1>Instagram deleted messege viewer</h1>

	<form action="/uploadfile"
	enctype="multipart/form-data" method="POST">
	
		<span>Upload File :</span>
		<input type="file" name="zipFile" required/> <br>
		<input type="submit" value="submit">
	</form>
</body>

</html>
